@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--code-bg: #1e1e1e;
		--white: #fff;
		--primary-color: #fecd1a;
		--secondary-color: #001576;
	}
	body {
		font-family: monospace;
	}
	h1 {
		@apply text-5xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}

	p,
	li {
		@apply text-lg leading-7;
	}

	h1,
	h2 {
		@apply mt-8;
	}
	hr {
		@apply mb-16 mt-16 mx-auto;
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(18, 142, 0, 0), rgba(17, 24, 39, 0.75), rgba(17, 24, 39, 0));
		max-width: 400px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mt-4;
	}
	h1 a,
	h2 a,
	h3 a,
	h4 a,
	h5 a,
	h6 a,
	a h1,
	a h2,
	a h3,
	a h4,
	a h5,
	a h6 {
		@apply no-underline dark:text-white;
	}
	blockquote,
	dl,
	dd,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	figure,
	p,
	pre,
	ul,
	ol,
	.content img {
		@apply mb-3;
	}
	.content img {
		margin: 0 auto;
	}
	a {
		@apply underline dark:text-white;
		color: var(--secondary-color);
	}
	a:hover {
		@apply no-underline;
	}

	.content ul,
	.content ol {
		@apply my-8;
		list-style: inherit;
		list-style-position: inside;
	}

	.content p code {
		background: var(--code-bg);
		white-space: nowrap;
		font-family: monospace;
		@apply text-white px-2 py-1 text-sm;
	}

	.content blockquote {
		@apply my-8;
		position: relative;
		color: #fff;
		border-left: 10px solid var(--primary-color);
		padding: 2rem 2rem 1.5rem;
		quotes: '\201C''\201D''\2018''\2019';
	}
	.content blockquote:before {
		position: absolute;
		top: 22px;
		left: 10px;
		color:var(--primary-color);
		content: open-quote;
		font-size: 7rem;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}
	.content blockquote p {
		display: inline;
		font-style: italic;
		color: #fff;
	}
	.code-container .copied-text {
		@apply text-white;
	}
}

/* page transition */
.page-enter-active {
	transition: all 0.1s ease-out;
}
.page-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.page-enter-from,
.page-leave-to {
	transform: translateY(20px);
	opacity: 0;
}

/* layout transition */
.layout-enter-active {
	transition: all 0.1s ease-out;
}
.layout-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.layout-enter-from,
.layout-leave-to {
	transform: translateY(-20px);
	opacity: 0;
}
